@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Russo+One&display=swap');

.create-event-container{
    
    background-image: inherit;
    height: 100vh;
    width: 800px;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.create-event-container h1{
    font-family: "Permanent Marker", cursive;
    justify-content: center;
    text-align: center;
}